/* Home Screen */
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* Sidebar */
/* Product Details */
/* Cart */
/* forms */
/* Products */
/* Checkout Steps */
/* Place Order */
/* Profile */
/* admin */
/* filter */
/* Cart Section */
/* Search Bar */
/* Paginate */
/* Keep me signed in */
html {
  font-size: 55.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  margin: 0;
}

button {
  font-size: 1.6rem;
}

#root {
  height: 100%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #22223b;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brand a {
  -webkit-animation: fade-in 0.2s linear;
          animation: fade-in 0.2s linear;
  color: whitesmoke;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.brand a:hover {
  color: rgba(182, 153, 59, 0.7);
}

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
}

.brand > .search {
  display: none;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-links a {
  color: whitesmoke;
  text-decoration: none;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #22223b;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34rem;
          flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.product div {
  -webkit-animation: slide-up 0.4s ease;
          animation: slide-up 0.4s ease;
}

.product .loading {
  min-width: 10px;
  min-height: 25px;
  background-color: #eee8e8;
  border-radius: 5px;
}

.test {
  position: fixed !important;
  display: block !important;
  top: 0;
  width: 100px;
  height: 150px;
}

.product-image.loading {
  min-width: 34rem;
  min-height: 34rem;
  background-color: #dddada;
}

.product-name a {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(17, 17, 73, 0.9);
}

.product-category {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(17, 17, 73, 0.9);
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
}

.product-image {
  max-width: 34rem;
  max-height: 27rem;
  border-radius: 2px;
  -webkit-animation: slide-down 0.4s ease;
          animation: slide-down 0.4s ease;
}

.product-rating {
  margin-bottom: 1rem;
}

.sidebar {
  position: fixed;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateX(-30rem);
          transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}

.sidebar.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 60rem;
          flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
}

.details-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.details-info li {
  font: 1.4em sans-serif;
  margin-bottom: 1rem;
}

.details-info ul {
  list-style-type: none;
  padding: 0;
}

.details-info h4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.details-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-action ul li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem #404080 solid;
}

.button.primary {
  background-color: #f8c040;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-list {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 60rem;
          flex: 3 1 60rem;
}

.cart-link {
  cursor: pointer;
}

.cart-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.cart-name {
  -webkit-box-flex: 8;
      -ms-flex: 8 1;
          flex: 8 1;
}

.cart-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.product-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.content {
  position: relative;
}

.table {
  width: 100%;
}

th {
  text-align: left;
}

tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.checkout-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding-top: 1rem;
}

.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

.placeorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.placeorder-info {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 60rem;
          flex: 3 1 60rem;
}

.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-info > div:first-child {
  margin-top: 0;
}

.placeorder-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}

.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}

.placeorder-action > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}

.placeorder-actions-payment > div {
  width: 100%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.profile-orders {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 60rem;
          flex: 3 1 60rem;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}

.filter button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}

.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}

.categories {
  padding: 0;
  list-style-type: none;
}

.categories a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}

.cart-section {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  border: 2px solid rgba(17, 17, 73, 0.4);
  background-color: rgba(144, 145, 150, 0.96);
  width: 30vw;
  height: 60vh;
  right: 2px;
  position: absolute;
  border-radius: 0.2em;
}

.cart-section-flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

.cart-header {
  text-align: center;
  background-color: #e4b74f;
  margin: 0;
  border-radius: 0.2em;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1 0.1 0.1em;
          flex: 0.1 0.1 0.1em;
}

.cart-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.cart-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.cross-mark {
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1 0.1 10%;
          flex: 0.1 0.1 10%;
  background-color: rgba(33, 33, 83, 0.6);
  cursor: pointer;
}

.go-to-cart {
  margin-top: auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.search-bar-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.search-bar {
  width: 60rem;
  border: 1.2px solid rgba(33, 33, 83, 0.5);
  border-radius: 0.3em;
}

@media screen and (max-width: 600px) {
  .search-bar {
    width: 12rem;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
  }
  .search-bar:focus {
    width: 20rem;
  }
}

.search-bar-submit {
  background-color: rgba(182, 153, 59, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.7);
          box-shadow: rgba(0, 0, 0, 0.7);
  margin-left: 0.1em;
  cursor: pointer;
}

.paginate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 0 0.7em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginate-flex {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 0.2em;
  padding: 0;
  margin: 0;
}

.paginate-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2em;
  padding: 0.4em 1em 0.4em 1em;
  margin: 0;
}

.paginate-item {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.4em 0.7em 0.4em 0.7em;
  color: #24292e;
  border: 1px solid transparent;
  border-radius: 0.5em;
  margin: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.paginate-item:hover {
  border: 1px solid #e1e4e8;
}

.paginate-item.selected {
  background-color: rgba(95, 95, 153, 0.8);
}

.paginate-dots {
  padding: 0.5em;
}

.paginate-next {
  color: rgba(3, 102, 214, 0.9);
}

.paginate-previous {
  color: rgba(3, 102, 214, 0.9);
}

.paginate-next.disabled {
  cursor: default;
  border: 1px solid transparent;
  color: rgba(17, 17, 73, 0.4);
}

.paginate-previous.disabled {
  cursor: default;
  border: 1px solid transparent;
  color: rgba(17, 17, 73, 0.4);
}

.km-signed-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #114279;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.km-signed-in input {
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */